:root{
    --darkblue: #00001a;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.wrapper{
    padding: 0 6rem 1rem 6rem;
    width: 100%;
}

#result-title{
    justify-content: center;
    padding-bottom: 4rem;
 }

 #result-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-scores{
    padding-bottom:2rem;
}

ol{
    justify-content:center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    gap:3rem;
  }

  h2{
    padding: 1rem;
    text-align: center;
    border-top: white solid 2px;
  }

  span{
    font-size: smaller;
    padding:1rem;
  }
  
 