.main-container{
    background-color: lightcoral;
    padding: 1.5rem 4rem 3rem 4rem;
    width:600px;
    height: 680px;
}

.quiz-title {
    text-align: center;
    font-size: 2rem;;
}

.quiz-score{
    text-align: right;
    font-weight: 600;
    font-size: 1.2rem;
}

#question {
font-size: 1.2rem;
text-align: center;
line-height: 1.3;
margin-bottom: 2rem;
}

.options {
    list-style-type: none;
    margin: 1rem 0;
}

.options li {
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid;
    background-color: lightcoral;

}
.options li:hover{
    background-color: azure;
    color: black;
    border-color: azure
    

}

.options li:active{
    transform: scale(0.97)
}

.selected{
    background-color: blueviolet !important;
}